<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
    <test name="paralleling_test">
        <classes>
            <class name="http_client.VkApiPositiveTest"/>
            <class name="http_client.VkApiNegativeTest"/>
            <class name="rest_assured.VkApiPositiveTest"/>
            <class name="rest_assured.VkApiNegativeTest"/>
        </classes>
    </test>
</suite>